/* Move down content because we have a fixed navbar that is 50px tall 

https://coolors.co/app/86bbd8-258ea6-2f4858-f6ae2d-f26419
*/
body {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #ecf0f1;

}

btn-transparent {
    background-image: none;
}

.end1 {
    background-color: #3498DB;
    padding: 20px;
}

.end2 {
    background-color: #3498DB;
    padding: 20px;
}

.end3 {
    background-color: #3498DB;
    padding: 20px;
}

.end4 {
    background-color: #3498DB;
    padding: 20px;
}


.tag {
    letter-spacing: 1px;
}

.logo {
    width: 340px;
}

.logo-small {
    width: 200px;
}

.store {
    margin: 10px;
}

.just-phone {
    max-width: 200px;
    padding-bottom: 50px;
}

.jumbotron {
    background-color: #AC80A0;
    background-color: #89AAE6;
    background-color: #F26419;
    
    background-color: #7EBDC3;
    
    background-color: #C2454C;
    background-color: #34495E;
    
    color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.center{
    text-align: center;
}

.text-white {
    color: white;
}

.box-green {
    background-color: #1ABC9C;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}


.box-blue {
    background-color: #3498DB;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}



.box-basic {
    background-color: #ecf0f1;
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.box-white {
    background-color: #ffffff;
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}


.box-silver {
    background-color: #bdc3c7;
    color: black;
    padding-top: 50px;
    padding-bottom: 0px;
}


.box-ipad {
    background-color: #ecf0f1;
    color: black;
    padding-top: 50px;
    padding-bottom: 0px;
}

.box-phone {
    background-image: url("../img/placeit.jpg");
    background-repeat: none;
    background-size: cover;
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.box-phone h1 {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    color: black;
}


.box-phone-sm {
    background-image: url("../img/placeitsm.jpg");
    background-repeat: none;
    background-size: cover;
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.box-phone-sm h1 {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    color: black;
}


.box-person {
    background-image: url("../img/person.png");
    background-repeat: none;
    background-size: cover;
    color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 400px;
    text-align: center;
}

.box-person h1 {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 100px;
    color: black;
}


.box-phone blockquote {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 100px;
    color: black;
}


.navbar-white {
    background-color: #ecf0f1;
    color: black;
    padding: 20px;
}

.footer {
    background-color: #34495E;
    padding: 100px;
    padding-left: 50px;
    padding-right: 50px;
}